.notice-title {
    color: #666;
}

.notice-content {
    color: #333;
}

.pet-img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}

.notice-dots {
    display: flex;
    justify-content: center;
}

.notice-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 8px;
    cursor: pointer;
}

.notice-dots li.active {
    background-color: #3d3d3d;
}
.notice-list {
    max-height: 150px; //最大高度，根据需要调整
overflow: auto;
}
.notice-content {
    font-size: 20px;
}
.notice-list {
    max-height: 370px;
    overflow-y: scroll;
}

/* 自定义滚动条样式 */
.notice-list::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

.notice-list::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4;
}

.notice-list::-webkit-scrollbar-thumb {
    background: #888;
}

